<div class="card" style="width: 18rem;">
  <h1 style="background-color: black;color: white;">category</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <button class="btn btn-link" (click)="showTshirt()">T-shirts </button>
     
    </li>
    <li class="list-group-item">
      <button class="btn btn-link" (click)="showJeans()">Jeans</button>
    </li>
    <li class="list-group-item">
    <button class="btn btn-link" (click)="showShoes()">Shoes</button>
</li>
<li class="list-group-item">
  <button class="btn btn-link" (click)="showAcc()">accessories</button>

</li>
  </ul>
</div>